<!-- error_404.html (extends base.html) -->
{% extends 'base.html' %}

{% block title %}404 - Not Found{% endblock %}

{% block content %}
    <div class="error-container">
        <h1>404 - Not Found</h1>
        <p>Sorry, the page you are looking for does not exist.</p>
    </div>
{% endblock %}
