<!-- error_500.html (extends base.html) -->
{% extends 'base.html' %}

{% block title %}500 - Internal Server Error{% endblock %}

{% block content %}
    <div class="error-container">
        <h1>500 - Internal Server Error</h1>
        <p>Sorry, something went wrong on our end. Please try again later.</p>
    </div>
{% endblock %}
