<!-- error_403.html (extends base.html) -->
{% extends 'base.html' %}

{% block title %}403 - Forbidden{% endblock %}

{% block content %}
    <div class="error-container">
        <h1>403 - Forbidden</h1>
        <p>Sorry, you don't have permission to access this page.</p>
    </div>
{% endblock %}
