<!-- error_400.html (extends base.html) -->
{% extends 'base.html' %}

{% block title %}400 - Bad Request{% endblock %}

{% block content %}
    <div class="error-container">
        <h1>400 - Bad Request</h1>
        <p>Sorry, your request could not be processed.</p>
    </div>
{% endblock %}
