{% extends 'base.html' %}

{% block title %}Home page of {{ name }}{% endblock %}

{% block content %}
    <!-- Entrance Section -->
    <section class="entrance-section">
        <div class="container">
            <h2>Entrance</h2>
            <div class="entrance-text">
                This is a homepage for {{ name }} with id {{ id }}.
                {% for item in main.entrance %}
                    {{ item.text }}.
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Visualization Section -->
    {% if main.visual %}
        <section class="visualization-section">
            <div class="container">
                <h2 class="mb-4">Visualization</h2>
                <div class="row">
                    {% for graph in main.visual %}
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-dark text-white">
                                <div class="card-body">
                                    <div class="plotly-graph">
                                        {{ graph.plot|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- List Section -->
    <section class="single-element-section">
        <div class="container">
            <h2>{{ main.name }}</h2>
            <ul class="list-group">
                {% for field, value in main.fields %}
                    {% if value %}
                        <li class="list-group-item">
                            <strong>{{ field }}</strong>: {{ value }}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}