{% extends 'base.html' %}

{% block title %}List view of {{ name }}{% endblock %}

{% block content %}
    <!-- Entrance Section -->
    <section class="entrance-section">
        <div class="container">
            <h2>Entrance</h2>
            <div class="entrance-text">
                This is a list view for {{name}}.
                {% for item in entrance %}
                    {{ item.text }}.
                {% endfor %}
            </div>
        </div>
    </section>

    <!-- Visualization Section -->
    {% if visual %}
        <section class="visualization-section">
            <div class="container">
                <h2 class="mb-4">Visualization</h2>
                <div class="row">
                    {% for graph in visual %}
                        <div class="col-lg-12 mb-4">
                            <div class="card bg-dark text-white">
                                <div class="card-body">
                                    <div class="plotly-graph">
                                        {{ graph.plot|safe }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endif %}

    <!-- List Section -->
    <section class="list-section">
        <div class="container">
            <h2 class="section-title">List of {{ name }}s</h2>
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <ul class="list-group">
                        {% for item in queryset %}
                            <li class="list-group-item">
                                {% for field, value in item %}
                                    {% if value is not None %}
                                        <div class="row">
                                            <div class="col-md-6">
                                                <strong class="field-name">{{ field }}:</strong>
                                            </div>
                                            <div class="col-md-6">
                                                {% if field == 'Id' %}
                                                    <a href="{% url 'stats:home_view' name=name|lower id=value %}">{{ value }}</a>
                                                {% else %}
                                                    <span class="field-value">{{ value }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Include pagination controls -->
    {% include 'pagination.html' %}
{% endblock %}