/* styles.css */

/* Dark theme styles */
body {
    background-color: #252525;
    color: #e4e4e4;
    font-family: 'Roboto', sans-serif; /* Set the custom font */
}

body {
    background-color: #252525;
    color: #e4e4e4;
}

.header {
    background-color: #1c1c1c;
    color: #e4e4e4;
    padding: 20px;
    position: relative;
}

#ball {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: transform 0.2s ease;
    transform-origin: center;
}

#ball.clicked {
    transform: rotate(10deg);
}

#ball:hover {
    transform: rotate(10deg);
}

.sidebar {
    background-color: #1c1c1c;
    color: #e4e4e4;
    padding: 20px;
}

.article-content {
    background-color: #1c1c1c;
    color: #e4e4e4;
    padding: 20px;
}

.footer {
    background-color: #1c1c1c;
    color: #e4e4e4;
    padding: 20px;
}

a {
    color: #e4e4e4;
}

a:hover {
    color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

.match-list {
    margin-top: 20px;
}

.match-item {
    background-color: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}


.pagination {
    transform: translateX(20%);
    margin-top: 20px;
    text-align: center;
}

.pagination-list {
    list-style: none;
    padding: 0;
    display: inline-block; /* Set the list to display inline */
}

.pagination-item {
    display: inline-block;
    margin: 0 5px;
}

.page-link {
    color: #333;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-width: 40px;
    text-align: center;
    line-height: 30px;
    box-sizing: border-box;
    transition: background-color 0.2s;
    text-decoration: none; /* Ensure links don't have underline */
}

.page-link:hover {
    background-color: #ddd;
}

.page-link.active {
    background-color: #bbb;
    color: #fff;
    border-color: #bbb;
}

.disabled-icon {
    color: #aaa; /* Color for disabled icons */
    pointer-events: none; /* Disable pointer events for disabled icons */
}

/* Bootstrap responsive utilities */
@media (max-width: 991px) {
    .pagination-item:nth-child(n+3):not(:nth-last-child(-n+2)) {
        display: none;
    }
}


/* Entrance Section Styles */
.entrance-section {
    padding: 40px 0; /* Adjust padding as needed */
}

.entrance-section h2 {
    margin-bottom: 20px; /* Add margin below section heading */
}

.entrance-text {
    font-size: 18px; /* Set font size for entrance text */
    line-height: 1.6; /* Adjust line height for better readability */
}

/* Visualization Section Styles */
.visualization-section {
    padding: 40px 0; /* Adjust padding as needed */
}

.visualization-section h2 {
    margin-bottom: 20px; /* Add margin below section heading */
}

/* List Section Styles */
.list-section {
    padding: 40px 0; /* Adjust padding as needed */
}

.list-section h2 {
    margin-bottom: 20px; /* Add margin below section heading */
}

.list-group {
    list-style-type: none; /* Remove default list bullet points */
    padding-left: 0; /* Remove default left padding */
}

.list-group-item {
    padding: 10px 20px; /* Adjust padding for list items */
    margin-bottom: 5px; /* Add margin between list items */
    background-color: #323232; /* Set background color for list items */
    border-radius: 5px; /* Add border radius for rounded corners */
}
