<!-- pagination.html -->
{% load mathfilters %}

<nav class="pagination">
    <ul class="pagination-list">
        <li class="pagination-item">
            <a class="page-link{% if not paginator.has_previous %} disabled{% endif %}" href="{% if paginator.has_previous %}?page=0{% endif %}">
                <span>&lt;&lt;</span> <!-- Link to first element -->
            </a>
        </li>
        <li class="pagination-item">
            <a class="page-link{% if not paginator.has_previous %} disabled{% endif %}" href="{% if paginator.has_previous %}?page={{ paginator.current_page|sub:1 }}{% endif %}">
                <span>&lt;</span> <!-- Link to previous element -->
            </a>
        </li>
        {% for i in paginator.page_range %}
            <li class="pagination-item">
                <a class="page-link{% if i == paginator.current_page %} active{% endif %}" href="?page={{ i }}">{{ i|add:1 }}</a>
            </li>
        {% endfor %}
        <li class="pagination-item">
            <a class="page-link{% if not paginator.has_next %} disabled{% endif %}" href="{% if paginator.has_next %}?page={{ paginator.current_page|add:1 }}{% endif %}">
                <span>&gt;</span> <!-- Link to next element -->
            </a>
        </li>
        <li class="pagination-item">
            <a class="page-link{% if not paginator.has_next %} disabled{% endif %}" href="{% if paginator.has_next %}?page={{ paginator.total_pages|sub:1 }}{% endif %}">
                <span>&gt;&gt;</span> <!-- Link to last element -->
            </a>
        </li>
    </ul>
</nav>
